
.sectionClient{
    margin-top: 9rem;
    height: 116rem;
 
}

.sectionTitle{
    display: flex;
    margin-top: 8rem;
    
}

.imgPortada{
display: flex;
align-items: center;
justify-content:center;
margin: auto;


}
.imgClient{
 margin-left: 15rem;
 margin-top: 1rem;
}

.sectionimages{
    display: flex;
    flex-direction: column;
}

.rating{
    width: 8rem;
    height: 8rem;
    background: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.parrafoNum{
color: #FFF;
text-align: center;
font-family: Gordita;
font-size: 4.625rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem;
letter-spacing: -0.0625rem;
margin: 1rem 0 1.5rem 0;
}


.parrafo2{
    color: #FFF;
font-family: Gordita;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem;
}

.titleH1{
color: #090D26;
font-family: Gordita;
font-size: 4.5rem;
font-style: normal;
font-weight: 550;
line-height: 4rem; /* 125% */
letter-spacing: -0.09rem;
margin: 0 10rem 4rem 15rem;
width: 29rem;
}

.parrafo{
color: #000;
font-family: Gordita;
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 4.25rem;
width: 26.5rem;
margin-top: 2.3rem;

}

.sectionCirculoyParrafo{
  display: flex;
  flex-direction: column;
  margin: -26rem 0 0 21rem; 
}

.ondasIcon{
    margin: -15rem 0 0 -4rem;
}

.puntosIcon{
    margin-top: 3.8rem;
}

 
.lineasIcon{
    display: flex;
    justify-content: end;
    margin: 5rem 5rem 0 0;

}


/* Media query------------------ */

@media (max-width: 2000px){
.imgPortada{
    width: 100rem;   
}
.titleH1{
   
    font-size: 3.5rem;
    margin: 0 8rem 4rem 10rem;
  
}
.parrafo{
    font-size: 1.8rem;
    width: 26.5rem;
    margin-top: 2.3rem;
}

.sectionCirculoyParrafo{
  margin: -32rem 0 0 12rem; 
}
}

@media (max-width: 1850px){
    .imgPortada{   
    width: 80rem;         
}
.imgClient{
    margin-left: 10rem;
    width: 25rem;
}
.rating{
    width: 6rem;
    height: 6rem;
   
}

.parrafoNum{
font-size: 2.625rem;
margin: 1rem 0 0.8rem 0;
}


.parrafo2{
font-size: 0.8rem;
   
}
.sectionCirculoyParrafo{
    margin: -25rem 0 0 15rem; 
  }

}

@media (max-width: 1560px){
    .imgClient{
        margin-left: 5rem;
        width: 20rem;
    }
    .imgPortada{
     width: 60rem;        
}
.titleH1{
   
    font-size: 3rem;
    margin: 0 5rem 4rem 5rem;
    height: 20rem;
}
.lineasIcon{
    margin: 3rem 3rem 0 0;

}

.sectionCirculoyParrafo{
    margin: -20rem 0 0 8rem; 
  }
  .ondasIcon{
    margin: -10rem 0 0 -6rem;
}
}





@media (max-width: 1290px){
    .imgPortada{    
        width: 40rem;    
}
.titleH1{
   
    font-size: 2.3rem;
    font-weight: 550;
    margin: 0 0rem 4rem 0rem;

}
.parrafo{
    font-size: 1.3rem;
    width: 20rem;
}
.sectionCirculoyParrafo{
    margin: -25rem 0 0 3rem; 
    
  }

.ondasIcon{
display: none;
    
}
}

@media (max-width: 1180px){
    .sectionCirculoyParrafo{
        margin: -18rem 0 0 4rem; 
      }

      .rating{
        margin-left: 5rem;
      }
}

@media (max-width: 950px){
    .imgPortada{
        width: 25rem;    
}
.imgClient{
    margin-left: 2rem;
    width: 17rem;
}
.sectionCirculoyParrafo{
    margin: -12rem 0 0 -2rem; 
  }
  .rating{
    margin-top: 3rem;
    margin-left: 3rem;
  }
}

@media (max-width: 800px){
    .sectionCirculoyParrafo{
        margin: -15rem 0 0 4rem; 
      }
      .imgClient{
        margin-left: 1rem;
        width: 15rem;
    }
}


@media (max-width: 600px){
    .sectionCirculoyParrafo{
        margin: -5rem 0 0 2rem; 
      }
     
}